{% extends "base.html" %}
{% load cms_tags %}
{% block body_class %}home{% endblock %}

{% block base_content %}
	{% placeholder home_slideShow %}

  <div class="flex-container visual-nav">
    <ul class="custom-controls">
      <li class="info">
        <a href="#">{% placeholder 3D_icon1 %}</a>
      </li>
      <li>
        <a href="#">{% placeholder 3D_icon2 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon3 %}</a>
      
      </li>
      <li class="wrench">
        <a href="#">{% placeholder 3D_icon4 %}</a>
      </li>
    </ul>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="{{STATIC_URL}}img/home/slide1.png" alt=""/>
          <div class="slide-text">
	    {% placeholder 3D_title1 %}
            <span class="caption">
              {% placeholder 3D_description1 %}
            </span>
            <span class="learn-more">{% placeholder 3D_link1 %}</span>
	  </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/home/slide2.jpg" alt=""/>
          <div class="slide-text">
            {% placeholder 3D_title2 %}
            <span class="caption">
              {% placeholder 3D_description2 %}
            </span>
            <span class="learn-more">{% placeholder 3D_link2 %}</span>
          </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/home/slide3.jpg" alt=""/>
          <div class="slide-text">
            {% placeholder 3D_title3 %}
            <span class="caption">
              {% placeholder 3D_description3 %}
            </span>
            <span class="learn-more">{% placeholder 3D_link3 %}</span>
          </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/home/slide4.jpg" alt=""/>
          <div class="slide-text">
            {% placeholder 3D_title4 %}
            <span class="caption">
              {% placeholder 3D_description4 %}
            </span>
            <span class="learn-more">{% placeholder 3D_link4 %}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
