{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block body_class %}lubrication{% endblock %}
{% block logo %}{% placeholder logo %}{% endblock %}
{% block base_content %}
  <div class="banner">
    {% placeholder banner %}
  </div>

  <div class="flex-container visual-nav">
    <ul class="custom-controls">
      <li class="info">
        <a href="#">{% placeholder 3D_icon1 %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder 3D_icon2 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon3 %}</a>
      </li>
      <li class="wrench">
        <a href="#">{% placeholder 3D_icon4 %}</a>
      </li>
      <li class="info">
        <a href="#">{% placeholder 3D_icon5 %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder 3D_icon6 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon7 %}</a>
      </li>
      <li class="info">
        <a href="#">{% placeholder 3D_icon8 %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder 3D_icon9 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon10 %}</a>
      </li>
    </ul>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide1.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide2.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide3.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide4.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide5.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide6.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide7.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide8.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide9.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide10.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <a href="#PLACEHOLDER" class="learn-more">{% placeholder 3D_link5 %}</a>
	</li>
      </ul>
    </div>
  </div>
{% endblock %}

