{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block body_class %}lubrication{% endblock %}

{% block base_content %}
  <div class="banner">
    {% placeholder banner %}
  </div>

  <div class="flex-container visual-nav">
    <ul class="custom-controls">
      <li class="info">
        <a href="#">{% placeholder slide1_title %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder slide2_title %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder slide3_title %}</a>
      </li>
      <li class="wrench">
        <a href="#">{% placeholder slide4_title %}</a>
      </li>
      <li class="info">
        <a href="#">{% placeholder slide5_title %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder slide6_title %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder slide7_title %}</a>
      </li>
      <li class="info">
        <a href="#">{% placeholder slide8_title %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder slide9_title %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder slide10_title %}</a>
      </li>
    </ul>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide1.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide1_overview %}
            </div>
            <div class="components">
              {% placeholder slide1_components %}
		<div class="visualTertiaryNav">
		    <ul>
			{% show_sub_menu 1%}
		    </ul>
		</div>
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide2.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide2_overview %}
            </div>
            <div class="components">
              {% placeholder slide2_components %}
		<div class="visualTertiaryNav">
		    <ul>
			{% show_sub_menu 1%}
		    </ul>
		</div>
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide3.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide3_overview %}
            </div>
            <div class="components">
              {% placeholder slide3_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide4.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide4_overview %}
            </div>
            <div class="components">
              {% placeholder slide4_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide5.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide5_overview %}
            </div>
            <div class="components">
              {% placeholder slide5_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide6.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide6_overview %}
            </div>
            <div class="components">
              {% placeholder slide6_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide7.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide7_overview %}
            </div>
            <div class="components">
              {% placeholder slide7_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide8.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide8_overview %}
            </div>
            <div class="components">
              {% placeholder slide8_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide9.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide9_overview %}
            </div>
            <div class="components">
              {% placeholder slide9_components %}
            </div>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/lubrication/slide10.jpg" alt=""/>
          <div class="slide-text">
            <div class="overview">
              {% placeholder slide10_overview %}
            </div>
            <div class="components">
              {% placeholder slide10_components %}
            </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

