{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block body_class %}sealing{% endblock %}
{% block logo %}{% placeholder logo %}{% endblock %}
{% block base_content %}
  <div class="banner">
    {% placeholder banner %}
  </div>

  <div class="flex-container visual-nav">
    <ul class="custom-controls">
      <li class="info">
        <a href="#">{% placeholder 3D_icon1 %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder 3D_icon2 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon3 %}</a>
      </li>
      <li class="wrench">
        <a href="#">{% placeholder 3D_icon4 %}</a>
      </li>
      <li class="info">
        <a href="#">{% placeholder 3D_icon5 %}</a>
      </li>
      <li class="">
        <a href="#">{% placeholder 3D_icon6 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon7 %}</a>
      </li>
      <li class="sealing">
        <a href="#">{% placeholder 3D_icon8 %}</a>
      </li>
    </ul>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide1.jpg" alt=""/>
	    <div class="slide-text">
	    {% placeholder 3D_title1 %}
	    <span class="caption">
	    {% placeholder 3D_description1 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link1 %}</span>
        </li>
        <li>
	    <img src="{{STATIC_URL}}img/sealing/slide2.jpg" alt=""/>
	    
	    <div class="slide-text">
	    {% placeholder 3D_title2 %}
	    <span class="caption">
	    {% placeholder 3D_description2 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link2 %}</span>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide3.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title3 %}
	    <span class="caption">
	    {% placeholder 3D_description3 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link3 %}</span>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide4.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title4 %}
	    <span class="caption">
	    {% placeholder 3D_description4 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link4 %}</span>
	</li>
        <li>
	    <img src="{{STATIC_URL}}img/sealing/slide5.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title5 %}
	    <span class="caption">
	    {% placeholder 3D_description5 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link5 %}</span>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide6.jpg" alt=""/>
	    <div class="slide-text">
	    {% placeholder 3D_title6 %}
	    <span class="caption">
	    {% placeholder 3D_description6 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link6 %}</span>

        </li>
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide7.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title7 %}
	    <span class="caption">
	    {% placeholder 3D_description7 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link7 %}</span>
	</li>
        <li>
          <img src="{{STATIC_URL}}img/sealing/slide8.jpg" alt=""/>
        
	    <div class="slide-text">
	    {% placeholder 3D_title8 %}
	    <span class="caption">
	    {% placeholder 3D_description8 %}
	    </span>
	    <span class="learn-more">{% placeholder 3D_link8 %}</span>
	</li>
      </ul>
    </div>
  </div>
{% endblock %}

