<div class="flex-container">
  <div class="flexslider">
    <ul class="slides">
      {% for slide in slideshow.slide_set.all %}
        <li>
          {# TODO: each slide should link to something right? #}
          {# TODO: output that path on this tag and probably on the cta below #}
          <a href="#">
            <img src="{{MEDIA_URL}}{{ slide.slide }}" alt="{{ slide.caption }}"/>
          </a>
          <div class="slide-text {{slide.headingColor}}">
		<h2>
                {% if slide.heading_1 %}
                  <span class="description">{{ slide.heading_1}}</span>
                {% endif %}
                {% if slide.heading_2 %}
                  <span class="product">{{ slide.heading_2}}</</span>
		</h2>
		{% endif %}
		{% if slide.caption %}
		<p class="caption {{ slide.captionColor }}">
		{{ slide.caption }}
		</p>
		{% endif %}
		{% if slide.buttonText %}
		  <a href="/{{ slide.buttonLink }}/" class="cta">{{slide.buttonText}}</a>
		{% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <ul class="custom-controls">
    {% for slide in slideshow.slide_set.all %}
      <li>
        <a href="#">
          <img src="{{MEDIA_URL}}{{ slide.thumbnail}}" alt="{{ slide.caption }}"/>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
