/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
p, span {font-weight: normal;}

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Jason Gonzales
   ========================================================================== */
body {
    background: #bfbfbf;
    font-family: sans-serif;
}

#container {
    min-width:1024px;
}

.row {
    width:1026px;
    margin:0 auto;
    overflow:hidden;
}

.align-left {
    float:left;
}

.align-right {
    float:right;
}

header {
    overflow:visible;
    height:127px;
    background:#000;
}

/*------------------------- table styles ------------------------------------*/
table {
    width: 100%;
    border:1px solid #ccc;
}

th {
    background:#444;
    color:#fff;
    padding:5px;
}

tr {
    border-bottom:1px solid #ccc;
}

td {
    border-right:1px solid #ccc;
    padding:5px;
}

/*------------------------- end table styles --------------------------------*/

.font8 {
    font-size:8px
}

.font9 {
    font-size:9px
}

.font10 {
    font-size:10px
}

.font11 {
    font-size:11px
}

.marginTop10 {
    margin-top:10px
}
.marginTop20 {
    margin-top:20px
}
.marginTop30 {
    margin-top:30px
}
.marginTop40 {
    margin-top:40px
}
.marginTop50 {
    margin-top:50px
}
.marginTop60 {
    margin-top:60px
}
.marginTop70 {
    margin-top:70px
}
.marginTop80 {
    margin-top:80px
}
.marginTop90 {
    margin-top:90px
}
.marginTop100 {
    margin-top:100px
}

.clearBoth {
    clear:both;
}

h1, h2, h3, h4 {
}

header h1 { 
    float:left;
    margin:0;
    padding:0 0 0 40px;
}

/*this is for the demo*/
h1.imageCaption60{
    position: relative;
    top: 185px;
    left: 10px;
    /*color: white;*/
    font-size: 60px;
    text-shadow: 3px 3px 5px #111;
    margin: -59px 0 0 0;
}


h2 {
    font-size:20px;
}

.nav, .secondary-nav, .footer-nav, .footer-info, .social {
    list-style:none;
}

.footer-nav, .footer-info, .social {
    float: left;
    clear: left;
    margin: 0 16px;
}

.nav {
    margin:85px 0 0 0;
}

.secondary-nav {
    float: left;
    margin: -100px 0 0 488px;
}

.nav a {
    color:#00a6ca;
    text-decoration:none;
    text-transform:uppercase;
    font-size:17px;
}

.secondary-nav a {
    font-size:12px;
    color:#fff;
    text-decoration:none;
}

.footer-nav a, .footer-info {
    font-size:12px;
    color:#808080;
    text-decoration:none;
}

.secondary-nav a:hover, .footer-nav a:hover {
    color:#C1C1C1;
    text-decoration:underline;
}

.nav li ul {
    display:none;
}

.nav li:hover ul {
    display:block;
    position: absolute;
    border-bottom:1px solid #404040;
    background: #333;
    list-style: none;
    padding:0;
    margin:4px 0 0 -10px;
    z-index:100;
}

.nav li ul li a {
    text-transform:none;
    font-size:11px;
    border-bottom:1px solid #404040;
}

.nav > li, .secondary-nav li {
    float:left;
    margin: 0;
    padding: 4px 10px;
}

.social, .footer-nav, .footer-info {
    margin:0 0 5px 0;
}

.social li, .footer-nav li, .footer-info li {
    float:left;
    margin: 0;
    padding: 0px 10px;
}

.social a {
    width:35px;
    height:36px;
    display:block;
}

.facebook {
    background: url(../img/social-sprite.png) 0 -39px;
}

.facebook:hover {
    background: url(../img/social-sprite.png) 0 -1px;
}

.linkedIn {
    background: url(../img/social-sprite.png) -41px -39px;
}

.linkedIn:hover {
    background: url(../img/social-sprite.png) -41px -1px;
}

.youtube {
    background: url(../img/social-sprite.png) -81px -39px;
}

.youtube:hover {
    background: url(../img/social-sprite.png) -81px -1px;
}

.flickr {
    background: url(../img/social-sprite.png) -120px -39px;
}

.flickr:hover {
    background: url(../img/social-sprite.png) -120px -1px;
}

.nav li {
    margin: 0 10px;
}

.nav .selected, .nav .ancestor, .nav li:hover {
    background:#00a6ca;
}

.nav .selected a, .nav li:hover a, .nav .ancestor a {
    color:#fff;
}

.secondary-nav .language .langs {
    display:none;
}

.secondary-nav .language:hover {
    text-decoration:none;

}

.secondary-nav .language:hover .langs {
    display: block;
    position: absolute;
    z-index: 1;
    border-bottom:1px solid #404040;
    background: #333;
    /*margin-left: -15px;*/ /*in case they want me top pull it left*/
}

.nav li ul li  {
    margin:0;
}

.secondary-nav .language .langs a, .nav li ul li a {
    display:block;
    padding: 8px 20px;
    border-bottom:1px solid #404040;
}

.nav li ul li a {
   background:url(../img/gtArrow.png) no-repeat 10px 15px;
   padding:14px 24px;
}

.secondary-nav .language .langs a.current,
.secondary-nav .language .langs a:hover,
.tertiaryNav ul li:hover,
.tertiaryNav ul li:hover a,
.tertiaryNav ul li.selected,
.tertiaryNav ul li.selected a{
    background: #00A6CA;
    color:#fff;
}

.breadcrumbs ul {
    list-style:none;
    padding:0;
}

.breadcrumbs ul li {
    display:inline-block;
    font-size:14px;
}

.breadcrumbs ul li a {
    color:#00a6ca;
}

.banner, .breadcrumbs {
    margin: 0 auto;
    width: 937px;
    overflow: hidden;
}

.tertiaryNav {
    margin:0 0 0 44px;
    padding:13px;
    width:252px;
    background:#e4e4e4;
    border:1px solid #d6d6d6;
    float:left;
    clear: both;
}

.components .visualTertiaryNav {
    float:left;
}

.tertiaryNav ul, .visualTertiaryNav ul {
    list-style:none;
    padding:0;
}

.tertiaryNav ul li {
    font-size:20px;
    padding:3px;
}

.tertiaryNav ul li a {
    text-decoration:none;
    color:#333;
}

.product-page .article {
    float: right;
    width: 631px;
    margin: 0 44px 0 0;
}

footer {
    /*overflow:auto;*/
    background:#000;
    padding:10px 0;
}

.enpro-logo {
  float:right;
  margin: -25px 2px 0 0;
}

#main .row {
    background:#fff;
    border-left:1px solid #868686;
    border-right:1px solid #868686;
    padding: 28px 0;
}

.slideshow {
    margin:0 auto 75px;
    width: 935px;
}

.visualNav {
    margin:0 0 189px 47px;
}
/*_________product page styles*/
#productSpotlightContainer {
    padding: 0 34px;
    margin: 70px 0 0 0;
    overflow: auto;
}

.productSpotlight {
    float:left;
    width:295px;
    margin: 7px 12px;
}

.productSpotlight .plugin_picture img {
    border: 1px solid #333;
}


/*________end product page styles*/

/*________form styles*/
form label {
  font-size: 16px;
  font-weight: bold;
}
form input {
  border: 1px solid #E0E0E0;
  border-top: 1px solid #C1C1C1;
  background: -moz-linear-gradient(top, #EFEFEF, white 20%);
  background: -ms-linear-gradient(top, #EFEFEF, white 20%);
  background: -o-linear-gradient(top, #EFEFEF, white 20%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), color-stop(0.2, white));
  background: -webkit-linear-gradient(top, #EFEFEF, white 20%);
  background: linear-gradient(top, #EFEFEF, white 20%);
}

form input[type=submit] {
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
  padding: 4px 35px;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 2px; /* FF1-3.6 */
          border-radius: 2px;
  background: #b8b8bb;
  background: -moz-linear-gradient(top, #D9DADB 44%, #BABBBE 50%);
  background: -ms-linear-gradient(top, #D9DADB 44%, #BABBBE 50%);
  background: -o-linear-gradient(top, #D9DADB 44%, #BABBBE 50%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.44, #D9DADB), color-stop(0.5, #BABBBE));
  background: -webkit-linear-gradient(top, #D9DADB 44%, #BABBBE 50%);
  background: linear-gradient(top, #D9DADB 44%, #BABBBE 50%);
  -webkit-box-shadow: 0px 0px 2px #e7e7e7; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 2px #e7e7e7; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 2px #e7e7e7; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

form input[type=submit]:hover {
  border-color: #BFBFBF;
  background: #e8e8e9;
  background: -moz-linear-gradient(top, #E8E8E9 41%, #D6D6D7 50%);
  background: -ms-linear-gradient(top, #E8E8E9 41%, #D6D6D7 50%);
  background: -o-linear-gradient(top, #E8E8E9 41%, #D6D6D7 50%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.41, #E8E8E9), color-stop(0.5, #D6D6D7));
  background: -webkit-linear-gradient(top, #E8E8E9 41%, #D6D6D7 50%);
  background: linear-gradient(top, #E8E8E9 41%, #D6D6D7 50%);
}

form input[type=submit]:active {
  border-color: #999;
  background: #9F9FA3;
  background: -moz-linear-gradient(top, #CECED0, #E8E8E9 30%);
  background: -ms-linear-gradient(top, #CECED0, #E8E8E9 30%);
  background: -o-linear-gradient(top, #CECED0, #E8E8E9 30%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#CECED0), color-stop(0.3, #E8E8E9));
  background: -webkit-linear-gradient(top, #CECED0, #E8E8E9 30%);
  background: linear-gradient(top, #CECED0, #E8E8E9 30%);
  -webkit-box-shadow: inset 0px 1px 3px #9F9FA3; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: inset 0px 1px 3px #9F9FA3; /* FF3.5 - 3.6 */
          box-shadow: inset 0px 1px 3px #9F9FA3; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
/*________end form styles*/

/*_________home styles*/
.home .flex-container.visual-nav {
  margin-top: 54px;
}

.home .flex-container.visual-nav ul.slides li > .slide-text {
  top: 23px;
  left: 632px;
  width: 293px;
}

.home .flex-container.visual-nav ul.slides li .slide-text h2 {
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
}

.home .flex-container.visual-nav ul.slides li .slide-text .caption {
    color:#222;
    font-size:13px;
}

.home .flex-container.visual-nav ul.slides li .slide-text p.caption {
  width: auto;
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 16px;
}

.home .flex-container.visual-nav ul.slides li .slide-text .learn-more a{
  font-size: 16px;
  text-transform: uppercase;
  color: #00a6ca;
  text-decoration:none;
}

.home .flex-container.visual-nav ul.slides li .slide-text .learn-more a:before {
    content:">> ";
}

.home .flex-container.visual-nav ul.slides li .slide-text .learn-more a:hover {
    color:#fff;
    background: #00a6ca;
    padding:5px 8px;
    margin-left:-8px;
}

/*_________lubrication styles*/
.sealing .flex-container.visual-nav,
.lubrication .flex-container.visual-nav {
  margin: 25px 0 0 44px;
  width: 936px;
}
.sealing .flexslider ul.slides li > .slide-text,
.lubrication .flexslider ul.slides li > .slide-text {
  width: auto;
  position: static;
  margin-top: 20px;
}
.sealing .flexslider ul.slides .slide-text .overview,
.lubrication .flexslider ul.slides .slide-text .overview {
  float: left;
  width: 450px;
  margin-right: 15px;
}
.sealing .flexslider ul.slides .slide-text .components,
.lubrication .flexslider ul.slides .slide-text .components {
  margin-left: 470px;
}
.sealing .flexslider ul.slides .slide-text .components p,
.lubrication .flexslider ul.slides .slide-text .components p {
  margin-bottom: 0;
}
.sealing .flexslider ul.slides .slide-text .components a,
.lubrication .flexslider ul.slides .slide-text .components a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 1px 2px;
  text-indent: -2px;
}
.sealing .flexslider ul.slides .slide-text .components a:hover,
.lubrication .flexslider ul.slides .slide-text .components a:hover {
  color: white;
  background: #00a6ca;
}
.sealing .flexslider ul.slides li .slide-text h2,
.lubrication .flexslider ul.slides li .slide-text h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
  margin-bottom: 0;
}
.sealing .flexslider ul.slides li .slide-text p,
.lubrication .flexslider ul.slides li .slide-text p {
  margin-top: 0;
}

/*_________contact us styles*/

.contact-us #main p {
  font-size: 14px;
}

.contact-us #main .article {
  padding-left: 44px;
}

.contact-us #main .article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-us #main .address p {
  color: gray;
  font-size: 14px;
  margin: 1px 0;
}

.contact-us #contact {
  margin-top: 20px;
}

.contact-us #contact label {
  display: block;
}

.contact-us #contact input {
  padding:5px;
  width:300px;
}

.contact-us #contact span.required {
  color: #ff0202;
  position: relative;
  top: 3px;
}

.contact-us #contact span.divider {
  display: inline-block;
  margin: 5px;
}

.contact-us #contact #first-name {
  margin-right: 20px;
}

.contact-us #contact label.last-name {
  width: 95px;
}

.contact-us #contact #company,
.contact-us #contact #address {
  width: 415px;
}

.contact-us #contact #city,
.contact-us #contact #state,
.contact-us #contact #country {
  width: 150px;
}

.contact-us #contact #zip {
  width: 85px;
}

.contact-us #contact .subscribe {
  margin-bottom: 30px;
}

.contact-us #contact .subscribe label {
  width: auto;
  margin-left: 7px;
  font-weight: normal;
}

.contact-us #contact .content label{
    display:block;
    margin:0 0 5px 0;
}

.contact-us #contact textarea {
    width:590px;
  border: 1px solid #C1C1C1;
  background: -moz-linear-gradient(top, #EFEFEF, white 36px);
  background: -ms-linear-gradient(top, #EFEFEF, white 36px);
  background: -o-linear-gradient(top, #EFEFEF, white 36px);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), color-stop(0.36, white));
  background: -webkit-linear-gradient(top, #EFEFEF, white 36px);
  background: linear-gradient(top, #EFEFEF, white 36px);
}

p.error input {
    border:1px solid #FF0202;
    background:#FFC3D1;
}

.contact-us #contact .error_msg {
    color: #FF0202;
}

/*_________end contact us styles*/

/*_________news search styles*/
.news-search #search-news {
  margin-left: 44px;
}

.news-search #search-news .tertiaryNav {
  margin: 0 15px 0 0;
}

.news-search #search-news .field {
  margin-top: 0;
}

.news-search #search-news select,
.news-search #search-news input {
  font-size: 16px;
}

.news-search #search-news select {
  max-width: 205px;
}

.news-search #search-news p.field {
  float: left;
}

.news-search #search-news > fieldset {
  margin-top: 30px;
}

.news-search #search-news .category label {
  display: block;
  margin-bottom: 5px;
}

.news-search #search-news .search-by {
  margin-right: 10px;
}

.news-search #search-news .search-by label {
  margin-right: 5px;
  vertical-align: top;
}

.news-search #search-news .search {
  margin-top: -4px;
}

.news-search #search-news .search input {
  height: 24px;
}

.news-search #search-news .release-date label {
  font-weight: normal;
  position: relative;
  top: 1px;
}
.news-search #search-news input[type=submit] {
  float: left;
  margin-top: -4px;
}

.news-search .results {
  float: left;
  width: 642px;
}

.news-search .results .summary {
  float: left;
  color: #a7a7aa;
}

.news-search .results .pagination {
  margin-left: 200px;
  font-weight: bold;
  font-size: 16px;
}

.news-search .pagination .previous_page {
  color: #cccccc;
}

.news-search .pagination .current {
  font-style: normal;
  background: #EEE;
}

.news-search .pagination a,
.news-search .pagination .current {
  padding: 4px 8px;
}

.news-search .pagination a {
  text-decoration: none;
  color: #007b9b;
  border: 1px solid transparent;
}

.news-search .pagination a:hover {
  background: #E5FAFF;
  border-color: #99EBFF;
}

.news-search .articles {
    width:600px;
    margin:0 0 0 50px;
}

.news-search .article {
  margin: 25px 10px 0 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #DFDFDF;
}

.news-search .articles a, .news-search .articles h2 a {
  color: #2c9fb7;
  font-weight: normal;
  display:inline-block;
  margin:0 0 20px 0;
}

.news-search .articles h2 a {
    margin: 0;
}

.news-search .article a:hover {
  color: #006680;
}

.news-search .article .info {
  float: right;
}

.news-search .article .info .release-date {
  margin: 0 0 2px;
}

.news-search .article .info .buttons {
  text-align: right;
}

.news-search .article .info .buttons > a {
  padding-left: 5px;
}

.news-search .articles h2 {
  border-top:1px solid #333;
  padding:20px 0 0 0;
}

.news-search .article > p {
  margin-bottom: 20px;
}

.news-search .article .author {
  margin: 0 192px 0 0;
}

.news-search .articles h2 {
  color: #2c9fb7;
  font-size: 18px;
  font-weight: normal;
}

.news-search .article .author {

}

/*_________end news search styles*/

/*_________post styles*/
.post article {
    width:933px;
    margin:0 auto;
}

.post article h2 {
    color:#00A6CA;
    border-bottom:1px solid #00A6CA;
}


/*_________end post styles*/

/*_________careers styles */
.careers .flexslider ul.slides .slide-text h2 span.description {
    font-size: 48px;
}


.careers .flexslider ul.slides .slide-text h2 span.product {
    font-size: 30px;
    text-transform: none;
}

.careers .flexslider ul.slides li .slide-text p.caption {
    width: 530px;
    font-size: 36px;
    line-height: 1em;
    font-style: italic;
}

.careers .flexslider ul.slides li > .slide-text {
    width:550px;
    top:15px;
}

.careerContent {
    width:933px;
    margin: 0 auto;
}
/*_________end careers styles */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{margin-top:20px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        /*#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../img/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}*/
        #cboxPrevious:hover{background-position:bottom left;}
        /*#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../img/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}*/
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        /*#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../img/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}*/
        #cboxClose:hover{background-position:bottom center;}


/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; border: 4px solid #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(theme/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Custom */
.flex-container {
  width: 914px;
  margin-left: 47px;
  overflow: visible;
}

.flexslider {
  padding: 11px;
  border: 1px solid #cccccc;
}

.flex-container .custom-controls li a.active {
  background: #00a6ca;
}

.flex-direction-nav li a {
  background: url(/static/img/arrows.png) no-repeat 0 0;
  width: 24px;
  height: 42px;
  top: 37%;
}

.flex-direction-nav li .prev {
  left: -23px;
}

.flex-direction-nav li .next {
  background-position: -24px 0;
  right: -47px;
}

.flex-container .custom-controls {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.flex-container .custom-controls li {
  display: inline;
  margin-right: 4px;
}

.flex-container .custom-controls li a {
  display: inline-block;
  padding: 4px;
  border: 1px solid #cacaca;
}

/* visual nav slide theme */
.flex-container.visual-nav {
  width: 936px;
}

.flex-container.visual-nav .slides li > img {
  border: 1px solid #D1D1D1;
  border-top: none;
}

.flex-container.visual-nav .custom-controls {
  height: 102px;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 13px;
  border: 1px solid #D1D1D1;
  border-bottom: none;
  background: #E1E1E1;
}

.flex-container.visual-nav .custom-controls li {
  float: left;
  width: 78px;
  height: 110px;
  margin: 0 2px 0 7px;
  background: url(../img/icons/oil-icon.png) -1px 0;
  background-repeat: no-repeat;
}

.flex-container.visual-nav .custom-controls li a {
  border: none;
  display: block;
  height: 100%;
  padding: 0;
}

.flex-container.visual-nav .custom-controls li a.active {
  background: transparent;
}

.flex-container.visual-nav .custom-controls li a p {
  margin: 79px 0 0 4px;
  display: inline-block;
  text-decoration: none;
  color: #464646;
  font-weight: 200;
  font-size: 11px;
}

.flex-container.visual-nav .custom-controls li.wrench {
  background-image: url(../img/icons/wrench.png);
}

.flex-container.visual-nav .custom-controls li.info {
  background-image: url(../img/icons/info.png);
}

.flex-container.visual-nav .custom-controls li.sealing {
  background-image: url(../img/icons/sealing.png);
}

.flex-container.visual-nav .custom-controls li.active,
.flex-container.visual-nav .custom-controls li:hover {
  background-position: -80px 0;
}

.flex-container.visual-nav .flexslider {
  padding: 0;
  border: none;
  width: 934px;
}

.flex-container.visual-nav .flex-direction-nav {
  /* no arrows on the sides */
  display: none;
}

/* styles for stuff in slides */
.teal {
    color:#00a6ca
}

.lt-grey {
    color:#666;
}

.dk-grey{
    color:#333;
}

.white {
    color:#fff;
}

.black {
    color:#000;
}

.green {
    color:#5c8727;
}

.red {
    color:#b7001a;
}

.flexslider ul.slides li > .slide-text {
  position: absolute;
  top: 54px;
  left: 26px;
  height: 255px;
  width: 500px;
}

.flexslider ul.slides li .slide-text h2 {
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.flexslider ul.slides .slide-text h2 span {
  display: block;
}

.flexslider ul.slides .slide-text h2 span.description {
  font-size: 33px;
  font-weight: 200;
}

.flexslider ul.slides .slide-text h2 span.product {
  font-size: 42px;
  font-weight: bold;
  line-height: 18px;
}

.flexslider ul.slides li .slide-text p.caption {
  width: 300px;
  margin-top: 40px;
  font-size: 15px;
}

.flexslider ul.slides li a.cta {
  display: inline-block;
  padding: 9px 29px;
  margin-top: 8px;
  border: 1px solid #ABABAB;
  font-size: 18px;
  color: #4B4B4B;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 6px; /* FF1-3.6 */
          border-radius: 6px;
  background: #b8b8bb;
  background: -moz-linear-gradient(top, #f3f3f3 15%, #BABBBE 88%);
  background: -ms-linear-gradient(top, #f3f3f3 15%, #BABBBE 88%);
  background: -o-linear-gradient(top, #f3f3f3 15%, #BABBBE 88%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.15, #f3f3f3), color-stop(0.88, #BABBBE));
  background: -webkit-linear-gradient(top, #f3f3f3 15%, #BABBBE 88%);
  background: linear-gradient(top, #f3f3f3 15%, #BABBBE 88%);
  -webkit-box-shadow: 0 1px 0 #666; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0 1px 0 #666; /* FF3.5 - 3.6 */
          box-shadow: 0 1px 0 #666; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.flexslider ul.slides li a.cta:hover {
  border-color: #666;
}

.flexslider ul.slides li a.cta:active {
  border-color: #999;
  background: #9F9FA3;
}

.locations_search_fields, .map-description {
    width:933px;
    margin:8px auto;
}

.locations_search_fields #locations_search_field {
    width:307px;
    height:27px;
}

.locations_search_fields #distance_field {
    margin: 0 10px;
    font-size: 16px;
    border: 1px #888 solid;
}

#map_canvas {
    width:933px;
    height:526px;
    margin:0 auto;
}

.locations {
    width:933px;
    margin:0 auto;
}

.locations p {
    float:left;
    margin:20px;
}
/* ============ SITEMAP STYLES================================================*/
.sitemap h1 {
    padding: 0 0 0 40px;
}


#sitemap ul {
    list-style:none;
}

#sitemap a {
    text-decoration:none;
    color:#333;
}

#sitemap a:hover {
    color:#00a6ca;
}

#sitemap ul {
    margin: 5px 0 20px 0;
}

#sitemap > ul > li > a {
    font-weight:bold;
    font-size:16px;
}

#sitemap > ul > li {
    border-bottom:1px solid #333;
    margin: 0 40px 20px 0;
}
/* ============ END SITEMAP STYLES============================================*/

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
